.add-produto {
    background-color: var(--bg-cor-body);
}

.add-produto__form {
    height: calc(100vh - 7.2rem);
    margin-inline: auto;
    padding-block: 1.6rem;
    width: min(100%, 80rem);
}

.add-produto__titulo {
    color: var(--texto-cor-escura);
    font-size: var(--font-tamanho-grande);
    font-weight: var(--font-espessura-grossa);
    line-height: normal;
    margin-bottom: 1.6rem;
}

.add-produto__input-box {
    background-color: white;
    border-bottom: 1px solid #c8c8c8;
    padding-block: 0.8rem;
    margin-bottom: 1.6rem;
}

.add-produto__label {
    color: var(--texto-cor-clara);
    display: block;
    font-size: var(--font-tamanho-muito-pequena);
    font-weight: var(--font-espessura-regular);
    line-height: 1.6rem;
    padding-inline: 1.2rem;
    margin-bottom: 0.4rem;
}

.add-produto__input,
.add-produto__descricao,
.add-produto__descricao::placeholder {
    border: none;
    color: var(--texto-cor-escura);
    display: block;
    font-size: var(--font-tamanho-medio);
    font-weight: var(--font-espessura-regular);
    line-height: 2rem;
    outline: none;
    padding-left: 1.2rem;
    resize: none;
    width: 100%;
}

.add-produto__descricao {
    border-bottom: 1px solid #c8c8c8;
    height: 8.2rem;
    padding-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.add-produto__descricao::placeholder {
    color: var(--texto-cor-clara);
    padding-left: 0;
}

.botao--extendido {
    display: block;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .add-produto__form {
        height: auto;
        padding-block: 3.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .add-produto__form {
        height: calc(100vh - 7.2rem);
        padding-block: 6.4rem;
        width: 56rem;
    }

    .add-produto__titulo {
        font-size: var(--font-tamanho-titulo-medio);
    }
}