<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>AluraGeek - Login</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/cabecalho.css">
  <link rel="stylesheet" href="../styles/rodape.css">
  <link rel="stylesheet" href="../styles/botao.css">
  <link rel="stylesheet" href="../styles/login-main.css">
</head>
<body>
  <header>
    <div class="cabecalho container">
      <a href="index.html">
        <img src="/assets/Logo.png" alt="Logo AluraGeek" class="cabecalho__logo">
      </a>  
    </div>
  </header>
  <main>
   <form class="login container" data-login>
    <fieldset class="login__fieldset">
      <h2 class="login__titulo">Iniciar Sessão</h2>
      <input type="email" class="login__input" id="email" placeholder="Escreva seu email" required title="Email">
      <input type="password" class="login__input" id="senha" placeholder="Escreva sua senha" minlength="6" title="Senha">
      <button class="botao botao--mutavel botao--bold">Entrar</button>
      <p>ATENÇÃO: Login feature não implementado, para entrar apenas preencha o formulário usando tipos de dados requeridos e aperte entrar</p>
    </fieldset>
   </form>
  </main>
  <footer class="rodape">
    <div class="rodape__conteudo container">
      <div class="rodape__wrap">
        <img src="/assets/Logo.png" alt="Logo AluraGeek" class="rodape__logo">
        <nav>
          <ul class="rodape__links">
            <li class="rodape__link"><a href="#">Quem somos nós</a></li>
            <li class="rodape__link"><a href="#">Política de privacidade</a></li>
            <li class="rodape__link"><a href="#">Programa fidelidade</a></li>
            <li class="rodape__link"><a href="#">Nossas lojas</a></li>
            <li class="rodape__link"><a href="#">Quero ser franqueado</a></li>
            <li class="rodape__link"><a href="#">Anuncie aqui</a></li>
          </ul>
        </nav>
      </div>
      <form class="rodape__form" data-form-msg>
        <fieldset class="rodape__form-contato">
          <legend class="form-contato__titulo">Fale conosco</legend>
          <div class="form-contato__inputNameBox">
            <label for="name" class="form-contato__labelInputName">Nome</label>
            <input class="form-contato__inputName" id="name" type="text" placeholder="Escreva seu nome" required>
          </div>
          <textarea class="form-contato__inputMensagem" type="text" placeholder="Escreva sua mensagem" required></textarea>
          <button class="botao">Enviar mensagem</button>
        </fieldset>
      </form>
    </div>
    <p class="rodape__desenvolvedor">Desenvolvido por Guilherme<br>2023</p>
  </footer>
  <script src="../scripts/validação-formulário-mensagem.js" type="module"></script>
  <script src="../scripts/login.js"></script>
</body>
</html>