<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>AluraGeek - Produtos</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/produtos-main.css">
  <link rel="stylesheet" href="../styles/cabacalho.css">
  <link rel="stylesheet" href="../styles/rodape.css">
  <link rel="stylesheet" href="../styles/botao.css">
</head>
<body>
  <header class="cabecalho container">
    <div class="cabecalho__wrap-logo-pesquisa">
      <a href="index.html"><img src="../assets/Logo.png" alt="Logo AluraGeek" class="cabecalho__logo"></a>
      <form class="cabecalho__pesquisa cabecalho__pesquisa--media-grande-view">
        <input type="text" class="cabecalho__pesquisa-input" placeholder="O que deseja encontrar?" required>
        <button class="cabecalho__pesquisa-botao">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15.5001 14H14.7101L14.4301 13.73C15.6301 12.33 16.2501 10.42 15.9101 8.39002C15.4401 5.61002 13.1201 3.39002 10.3201 3.05002C6.09014 2.53002 2.53014 6.09001 3.05014 10.32C3.39014 13.12 5.61014 15.44 8.39014 15.91C10.4201 16.25 12.3301 15.63 13.7301 14.43L14.0001 14.71V15.5L18.2501 19.75C18.6601 20.16 19.3301 20.16 19.7401 19.75C20.1501 19.34 20.1501 18.67 19.7401 18.26L15.5001 14ZM9.50014 14C7.01014 14 5.00014 11.99 5.00014 9.50002C5.00014 7.01002 7.01014 5.00002 9.50014 5.00002C11.9901 5.00002 14.0001 7.01002 14.0001 9.50002C14.0001 11.99 11.9901 14 9.50014 14Z" fill="#A2A2A2"/>
          </svg>
        </button>
      </form>
    </div>
    <button class="cabecalho__botao-mostra-pesquisa">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M15.5001 14H14.7101L14.4301 13.73C15.6301 12.33 16.2501 10.42 15.9101 8.39002C15.4401 5.61002 13.1201 3.39002 10.3201 3.05002C6.09014 2.53002 2.53014 6.09001 3.05014 10.32C3.39014 13.12 5.61014 15.44 8.39014 15.91C10.4201 16.25 12.3301 15.63 13.7301 14.43L14.0001 14.71V15.5L18.2501 19.75C18.6601 20.16 19.3301 20.16 19.7401 19.75C20.1501 19.34 20.1501 18.67 19.7401 18.26L15.5001 14ZM9.50014 14C7.01014 14 5.00014 11.99 5.00014 9.50002C5.00014 7.01002 7.01014 5.00002 9.50014 5.00002C11.9901 5.00002 14.0001 7.01002 14.0001 9.50002C14.0001 11.99 11.9901 14 9.50014 14Z" fill="#464646"/>
      </svg>
    </button>
    <form class="cabecalho__pesquisa cabecalho__pesquisa--branco cabecalho__pesquisa--pequena-view-esconder">
      <input type="text" class="cabecalho__pesquisa-input cabecalho__pesquisa-input--branco" placeholder="O que deseja encontrar?" required>
      <button class="cabecalho__pesquisa-botao cabecalho__pesquisa-botao--branco">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M15.5001 14H14.7101L14.4301 13.73C15.6301 12.33 16.2501 10.42 15.9101 8.39002C15.4401 5.61002 13.1201 3.39002 10.3201 3.05002C6.09014 2.53002 2.53014 6.09001 3.05014 10.32C3.39014 13.12 5.61014 15.44 8.39014 15.91C10.4201 16.25 12.3301 15.63 13.7301 14.43L14.0001 14.71V15.5L18.2501 19.75C18.6601 20.16 19.3301 20.16 19.7401 19.75C20.1501 19.34 20.1501 18.67 19.7401 18.26L15.5001 14ZM9.50014 14C7.01014 14 5.00014 11.99 5.00014 9.50002C5.00014 7.01002 7.01014 5.00002 9.50014 5.00002C11.9901 5.00002 14.0001 7.01002 14.0001 9.50002C14.0001 11.99 11.9901 14 9.50014 14Z" fill="#A2A2A2"/>
        </svg>
      </button>
    </form>
  </header>
  <main class="produtos container">
    <div class="produtos__cabecalho">
      <h2 class="produtos__titulo">Todos os produtos</h2>
      <a href="adicionar-produtos.html" class="botao">Adicionar produto</a>
    </div>
    <nav>
      <ul class="produtos__lista-produtos">
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/star-wars/unsplash_1VV1MRafd7A.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/star-wars/unsplash_4OHkK555s1A.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/star-wars/unsplash_6FDXGY9J6y4.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/star-wars/unsplash_epRFE_hBNjo.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/star-wars/unsplash_KeGToDVN0l4.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/star-wars/unsplash_R8L1l9RN198.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/consoles/unsplash_0POwK6iAiRQ.png" width="176" height="174">
          <p class="produto__nome">Controle XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/consoles/unsplash_caNzzoxls8Q.png" width="176" height="174">
          <p class="produto__nome">Controle e console XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/consoles/unsplash_k-xYhI3-gJM.png" width="176" height="174">
          <p class="produto__nome">Game Boy Color</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/consoles/unsplash_wa5z9o9fgjw.png" width="176" height="174">
          <p class="produto__nome">Controle XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/consoles/unsplash_Zjn4dT993-g.png" width="176" height="174">
          <p class="produto__nome">Console XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/consoles/unsplash_ZV7lnfyQLmA.png" width="176" height="174">
          <p class="produto__nome">Console XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/diversos/unsplash_bUgaIaZysH0.png" width="176" height="174">
          <p class="produto__nome">Camisa Atari</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/diversos/unsplash_fMP-oCze3AY.png" width="176" height="174">
          <p class="produto__nome">Camisa SNES</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/diversos/unsplash_jMT6BrgBuXU.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/diversos/unsplash_MxVkWPiJALs.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/diversos/unsplash_r27umXAelDc.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
        <li class="produto__item">
          <img class="produto__imagem" src="../assets/diversos/unsplash_sYVY_ZKwaxU.png" width="176" height="174">
          <p class="produto__nome">Produto XYZ</p>
          <p class="produto__preco">R$ 60,00</p>
          <p class="produto__codigo">#12345</p>
        </li>
      </ul>
    </nav>
  </main>
  <footer class="rodape">
    <div class="rodape__conteudo container">
      <div class="rodape__wrap">
        <img src="../assets/Logo.png" alt="Logo AluraGeek" class="rodape__logo">
        <nav>
          <ul class="rodape__links">
            <li class="rodape__link"><a href="#">Quem somos nós</a></li>
            <li class="rodape__link"><a href="#">Política de privacidade</a></li>
            <li class="rodape__link"><a href="#">Programa fidelidade</a></li>
            <li class="rodape__link"><a href="#">Nossas lojas</a></li>
            <li class="rodape__link"><a href="#">Quero ser franqueado</a></li>
            <li class="rodape__link"><a href="#">Anuncie aqui</a></li>
          </ul>
        </nav>
      </div>
      <form class="rodape__form">
        <fieldset class="rodape__form-contato">
          <legend class="form-contato__titulo">Fale conosco</legend>
          <div class="form-contato__inputNameBox">
            <label for="name" class="form-contato__labelInputName">Nome</label>
            <input class="form-contato__inputName" id="name" type="text" placeholder="Escreva seu nome" required>
          </div>
          <textarea class="form-contato__inputMensagem" id="mensagem" type="text" placeholder="Escreva sua mensagem" required></textarea>
          <button class="botao">Enviar mensagem</button>
        </fieldset>
      </form>
    </div>
    <p class="rodape__desenvolvedor">Desenvolvido por Guilherme<br>2023</p>
  </footer>
  <script src="../scripts/mostra-pesquisa.js"></script>
</body>
</html>