.cabecalho {
    align-items: center;
    background-color: var(--bg-cor-header);
    display: flex;
    justify-content: space-between;
    padding-block: 1.6rem;
    height: 7.2rem;
}

.cabecalho__logo {
    margin-right: 3.2rem;
    height: 2.8rem;
    width: 10rem;
}

.cabecalho__pesquisa {
    align-items: center;
    background-color: var(--bg-cor-pesquisa);
    border: whitesmoke;
    border-radius: 4rem;
    box-shadow: 0 1px 3px grey;
    color: var(--texto-cor-escura);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-tamanho-pequeno);
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    height: 4rem;
}

.cabecalho__pesquisa--branco {
    background-color: var(--bg-cor-header);
}

.cabecalho__pesquisa-input {
    flex: 1;
    line-height: 1.6rem;
}

.cabecalho__pesquisa-input::placeholder {
    color: var(--texto-cor-clara);
}

.cabecalho__pesquisa-input,
.cabecalho__pesquisa-botao {
    border: none;
    background-color: var(--bg-cor-pesquisa);
}

.cabecalho__pesquisa-input--branco,
.cabecalho__pesquisa-botao--branco {
    background-color: var(--bg-cor-header);
}

.cabecalho__pesquisa-botao {
    cursor: pointer;
}

.cabecalho__link {
    color: var(--botao-negativo-texto-cor);
    border: 1px solid var(--botao-negativo-texto-cor);
    font-size: var(--font-tamanho-pequeno);
    font-weight: var(--font-espessura-media-grossa);
    line-height: normal;
    padding-block: 1.2rem;
    padding-inline: 1.6rem;
    text-align: center;
}

.cabecalho__link--pequeno {
    width: 13.2rem;
}

.cabecalho__link:hover {
    background-color: var(--botao-negativo-cor-hover);
}

.cabecalho__botao-mostra-pesquisa {
    background-color: var(--bg-cor-header);
    border: none;
    cursor: pointer;
}

.cabecalho__pesquisa--media-grande-view, 
.cabecalho__pesquisa--pequena-view-esconder {
    display: none;
}

.cabecalho__pesquisa--pequena-view-mostrar {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}


@media screen and (min-width: 768px) {
    .cabecalho__wrap-logo-pesquisa {
        align-items: center;
        display: flex;
        width: 40.4rem;
    }

    .cabecalho__pesquisa {
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .cabecalho__pesquisa--media-grande-view {
        display: flex;
        justify-self: start;
    }

    .cabecalho__pesquisa--pequena-view-esconder,
    .cabecalho__pesquisa--pequena-view-mostrar,
    .cabecalho__botao-mostra-pesquisa {
        display: none;
    }

    .cabecalho__link--pequeno {
        width: 16.6rem;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        padding-block: 3.2rem;
        height: 11.4rem;
    }

    .cabecalho__logo {
        height: 5rem;
        width: 17.6rem;
    }

    .cabecalho__wrap-logo-pesquisa {
        width: 60.1rem;
    }

    .cabecalho__link {
        font-size: var(--font-tamanho-medio);
        font-weight: var(--font-espessura-regular);
        line-height: 1.9rem;
        padding: 1.6rem;
    }

    .cabecalho__link--pequeno {
        width: 18.2rem;
    }
}